*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

nav{
    background-color: #333;
    overflow: hidden;
    text-align: center;
}
nav a{
    color: #f2f2f2;
    padding: 14px 16px;
    display: block;
    float: left;
    text-decoration: none;
}

#images{
    margin:0 auto;
    width: 90%;
}

.images_container{
    width: 33.3%;
    float: left;
    padding: 10px;
}

img{
    border-radius: 5px;
}

footer{
    text-align: center;
    clear: both;
}

#footer_icons{
    margin: 20px;
}

@media screen and (max-width: 600px){
    .images_container{
        width:100%;
        padding-left: 0px;
    }
}

@media screen and (max-width: 300px) {
    nav a{
        float: none !important;
    }
}